<nav id="home-sticky" class="navbar sticky-top" style="background-color: #ebf5fb;">
  <div class="container-fluid">
    <a href="/home"/><button id="home-btn" type="button" name="button">Home</button></a>

    <a href="/aquarium"/><button id="species-btn" type="button" name="button">Species</button></a>

    <a href="/animal"/><button id="animals-btn" type="button" name="button">Animals</button></a>

    <a href="/map"/><button id="map-btn" type="button" name="button">Oceans</button></a>

    <p class="navbar-text2">Welcome <%=currentUser.currentUser.username%> </p>

    <form id="form-in-header" action="/sessions/?_method=DELETE" method="POST">
      <button id="logout-btn" class="btn btn-light" type="submit" name="button">Log out</button>
    </form>
  </div>
</nav>
