<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aquarium">Species</a>
  </li>
  <li class="nav-item">
    <p id="welcome-message" >Welcome <%=currentUser.currentUser.username%> </p>
  </li>
</ul>
