<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Animal</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
