<a href="/home"/><button id="home-btn" type="button" name="button">Home</button></a>

<h1 id='index-h1'>Aquarium</h1>

<p id="welcome-message" >Welcome <%=currentUser.currentUser.username%> </p>

<form id="form-in-header" action="/sessions/?_method=DELETE" method="POST">
  <input id="logout-form" type="submit" value="Log Out" />
</form>
