<a href="/aquarium"/><button id="home-btn" type="button" name="button">Home</button></a>

<h1 id='index-h1'>Aquarium</h1>

<p>username: <%=currentUser.currentUser.username%> </p>

<form action="/sessions/?_method=DELETE" method="POST">
  <input type="submit" value="Log Out" />
</form>
