<a href="/aquarium"/><button id="home-btn" type="button" name="button">Home</button></a>

<h1 id='index-h1'>Aquarium</h1>


<% const currentUser = req.session.currentUser %>

<% if (currentUser) { %>
  <form action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="Log Out" />
  </form>
<% } else { %>
  <a href="/users/new">Create Account</a>
  <a href="/sessions/new">Login</a>
<% } %>
