<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>New Index (home) Page For Both Models</h1>

    <div class="index-btns">
      <a href="/animal"><button type="button" name="/aquarium">Animals</button></a>
      <a href="/aquarium"><button type="button" name="button">Aquarium</button></a>
    </div>
  </body>
</html>
