<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 id='index-h1'>Aquarium</h1>

    <a id='create-button' href="/new"> <button type="button" name="button">Add New Animal +</button></a>

    <div class="index-flexbox">
      <% for (let i = 0; i < fishData.length; i++) { %>

        <div class="fish-wrapper">

          <a href="/<%=fishData[i]._id%>">
          <div class="fish-img-container">
            <img src="<%= fishData[i].img %>" alt="">
          </div>

          <div class="fish-name-header">
            <h3 id='show-name'><%= fishData[i].name %></h3>
          </div>
          </a>

        </div>

      <% } %>
    </div>
  </body>
</html>
