<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/animal_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./partials/animal_header.ejs') %>
    </header>
    <div id="home-page-container" class="container">
      <h1>Welcome to the Online Aquarium!</h1>
      <div id="home-page-button-div" class="container-fluid">
        <a href="/animal"><button id="signin-btn-1" type="button" class="btn btn-secondary" name="/aquarium">See our Animals</button></a>
        <a href="/aquarium"><button id="signin-btn-2" type="button" class="btn btn-secondary" name="button">Species at Aquarium</button></a>
      </div>
    </div>
  </body>
</html>
