<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/aquarium_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./partials/aquarium_header.ejs') %>
    </header>
    <h1 id="maps-h1">Oceans</h1>
    <div class="maps-flexbox">
      <div class="ocean">
        <h3>Artic Ocean</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23268738.330963716!2d-83.95462067635057!3d69.14777941735429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4e818ae7b7b9dc55%3A0x73f923b8957d071e!2sArctic%20Ocean!5e0!3m2!1sen!2sus!4v1652821236464!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="ocean">
        <h3>Atlantic Ocean</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60725736.81208678!2d-46.43944759999988!3d21.72582561293588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x65a81cae36eb8ff%3A0xa6342257f310534f!2sAtlantic%20Ocean!5e0!3m2!1sen!2sus!4v1652821199526!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>


      <div class="ocean">
        <h3>Pacific Ocean</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37365732.61303103!2d-153.22852347418754!3d-1.6193464751613815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x76ed042c30f318eb%3A0x8eff14a070876cbc!2sPacific%20Ocean!5e0!3m2!1sen!2sus!4v1652820683603!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>


      <div class="ocean">
        <h3>Indian Ocean</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59442153.718100905!2d42.67772485497117!3d-24.587086105453608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18174db2727f6a1f%3A0xead4bf5063a99637!2sIndian%20Ocean!5e0!3m2!1sen!2sus!4v1652821332649!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

      <div class="ocean">
        <h3>Southern Ocean</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22487578.742069263!2d-172.3629530059887!3d-69.87869489646525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5da7ccb2b9a2d91%3A0xb2f0be48d8d76199!2sSouthern%20Ocean!5e0!3m2!1sen!2sus!4v1652821311361!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
