<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class='form-wrapper'>
      <h1>Create New Animal</h1>

      <form class="fish-form" action="/" method="POST">
        <div class="form-row-normal">
          <h5>Name:</h5><input type="text" name="name" required/>
        </div>
        <div class="form-row-normal">
          <h5>Scientific Name:</h5><input type="scientificName" name="scientificName"/>
        </div>
        <div class="form-row-normal">
          <h5>Animal Type:</h5><input type="text" name="animalType" required/>
        </div>
        <div class="form-row-normal">
          <h5>Range:</h5><input type="text" name="range" required/>
        </div>
        <div class="form-row-normal">
          <h5>Image URL:</h5> <input type="url" name="img"/>
        </div>
        <div class="form-row-normal">
          <h5>Number: </h5><input type="number" name="number" required/>
        </div>
        <div class="form-row-normal">
          <h5>Diet:</h5><input type="text" name="diet"/>
        </div>
        <div class="form-row-normal">
          <h5>Size:</h5><input type="text" name="size"/>
        </div>
        <div class="form-row-normal">
          <h5>Description:</h5><input type="text" name="description" required/>
        </div>

        <input class='form-button' type="submit" value="Create Animal"/>
      </form>
    </div>
  </body>
</html>
