* {

}

body {
  background-color: yellow;
}

/* Index Page */
#index-h1 {
  text-align: center;
}

#create-button {

}

.fish-wrapper {
  margin: 2em auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: lightblue;
  border-radius: 2em;
  padding: 1.5em;
  align-items: center;
}

.fish-wrapper a {
  text-decoration: none;
}

.fish-wrapper:hover {
  color: blue;
}

.fish-name-header {

}

#show-name {
  margin: 0;
}

.fish-img-container {
  max-height: 66%;
}

.fish-img-container img {
  height: 100%;
  max-width: 100%;
}


/* Show Page */
.fish-info-wrapper {
  margin: 2em auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: pink;
  border-radius: 2em;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
}

.fish-info-list {

}

.top-info-block {

}

.fish-name-con {

}

.fish-img-con {
  max-height: 66%;
}

.fish-img-con img {
  height: 100%;
  max-width: 100%;
  border-radius: 1em 1em 0 0;
}

.fish-aniamalType-con {

}

.fish-quantity-con {

}

.bottom-info-block {

}

.fish-description-con {

}

.fish-range-con {

}

.fish-size-con {

}

.fish-diet-con {

}

.show-page-nav {

}


/* New and Edit Form Page */
.form-wrapper {
  width: 50%;
  min-width: 450px;
  margin: 2em auto;
  background-color: pink;
  border-radius: 2em;
  padding: 1.5em;
}

.form-wrapper h1 {
  text-align: center;
  background-color: grey;
}

.form-row-normal {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2% 1%;
  background-color: blue;
  align-items: center;
}

.form-row-normal h5 {
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  background-color: white;
  width: 320px;
  text-align: right;
}

.form-row-normal input {
  width: 100%;
  height: 20px;
}

.form-row-box{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  margin: 2% 1%;
  background-color: orange;
  align-items: baseline;
}


.form-row-box h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right 1%;
  font-size: 25px;
  background-color: white;
  text-align: left;
}

.form-row-box textarea {
  width: 97%;
  margin: 2% 1%;
}

.fish-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: green;
  width: 100%;
  margin: 0 auto;
}

.form-button {
  align-self: center;
  max-width: 33%;
}

/*<input type="text" name="description" required/>*/
