  * {
    font-family: 'EB Garamond', serif;
  }

  body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23d5d8dc' fill-opacity='0.23' fill-rule='evenodd'/%3E%3C/svg%3E");
    margin: 0;
  }

  /* Login Page Home */
  .login-page-headers {
    text-align: center;
    margin-top: 7%;
  }

  .login-page-flexbox {
    width: 35%;
    min-width: 300px;
    margin: 2em auto;
    background-color: #ebf5fb;
    border: solid grey thin;
    border-radius: 2em;
    padding: 1.5em;
  }

  .login-page-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }


  .login-page-buttons a {
    width: auto;
    margin: 3%;
  }


  #create-btn-login {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
  }

  #login-btn-login {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border-radius: 15px;
  }

  /* Create Account Page */
  #create-h1 {
    text-align: center;
    margin-top: 5%;
  }

  .create-form-div {
    width: 45%;
    min-width: 400px;
    margin: 2em auto;
    background-color: #ebf5fb;
    border: solid grey thin;
    border-radius: 2em;
    padding: 1.5em;
  }

  .new-account-form {
    text-align: center;
  }

  .row {
    margin: 2%;
    text-align: left;
    font-size: 20px;
  }

  .row input {
    height: 20px;
    width: 100%;
  }

  .createAccount-submit {
    height: 50px;
    width: 130px;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 3%;
  }

  /* Login Page Form */
  #login-h1 {
    text-align: center;
    margin-top: 5%;
  }

  .login-form-div {
    width: 45%;
    min-width: 400px;
    margin: 2em auto;
    background-color: #ebf5fb;
    border: solid grey thin;
    border-radius: 2em;
    padding: 1.5em;
  }

  .login-form {
    text-align: center;
  }

  .row-login {
    margin: 2%;
    text-align: center;
    font-size: 20px;
  }

  .row-login input {
    height: 20px;
    width: 60%;
  }

  .login-submit {
    height: 50px;
    width: 130px;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 3%;
  }

  #home-back-btn {
    background-color: #ebf5fb;
    border: none;
    border-right: solid gray;
    padding: 29px 15px;
    font-size: 23px;
    align-self: flex-start;
  }

  #home-back-btn:hover {
    background-color: #F2F2F2;
  }


  /* Aquarium Index Page */
  header {
    background-color: #ebf5fb;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    width: 100%;
    height: 85px;
  }

  .flex-box-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .front-btns {
    align-self: flex-start;
  }

  .middle-section {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }

  .end-btns {
    align-self: right;
  }

  #home-btn {
    background-color: #ebf5fb;
    border: none;
    border-right: solid gray;
    padding: 29px 4px;
    font-size: 23px;
    align-self: flex-start;
  }

  #home-btn:hover {
    background-color: #F2F2F2;
  }

  #species-btn {
    background-color: #ebf5fb;
    border: none;
    border-right: solid gray;
    padding: 29px 4px;
    font-size: 23px;
  }

  #species-btn:hover {
    background-color: #F2F2F2;
  }

  #animals-btn {
    background-color: #ebf5fb;
    border: none;
    border-right: solid gray;
    padding: 29px 4px;
    font-size: 23px;
  }

  #animals-btn:hover {
    background-color: #F2F2F2;
  }

  #map-btn {
    background-color: #ebf5fb;
    border: none;
    border-right: solid gray;
    padding: 29px 4px;
    font-size: 23px;
  }

  #map-btn:hover {
    background-color: #F2F2F2;
  }


  #form-in-header {
    height: 85px;
  }

  #welcome-message {
    margin-right: 2%;
    font-size: 20px;
    width: 100%;
  }

  #logout-btn{
    background-color: #ebf5fb;
    border: none;
    border-left: solid gray;
    font-size: 23px;
    padding: 29px 8px;
    min-width: 95px;
  }

  #logout-btn:hover {
    background-color: #F2F2F2;
  }

  #form-in-header {
    margin: 0;
    align-self: flex-end;
  }

  #create-button button {
    position: fixed;
    background-color: black;
    color: white;
    padding: 15px 15px;
    margin: 0;
    margin-top: 1%;
    font-size: 17px;
  }

  #create-button button:hover {
    background-color: darkgray;
  }

  .index-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  #aquarium-index-header {
    width: 100%;
    text-align: center;
  }

  .fish-wrapper {
    margin: 1%;
    width: 30%;
    min-width: 300px;
    background-color: white;
    align-items: center;
  }

  .fish-wrapper a {
    text-decoration: none;
  }

  .fish-name-header {
    color: black;
    text-align: center;
    background-color: white;
  }

  .fish-name-header:hover {
    color: blue;
  }

  #show-name {
    margin: 0;
  }


  .fish-img-container img {
    height: 100%;
    max-width: 100%;
  }




  /* Aquarium Show Page */
  .fish-info-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 7.5em;


    width: 70%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ebf5fb;
    border-radius: 2em;
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: gray;
    border-width: thin;
  }

  .fish-name-con {
    text-align: right;
    margin-right: auto;
    margin-left: auto;
  }

  #commonName {
    margin: 0;
  }

  #scienceName {
    font-style: italic;
    margin: 0;
    margin-bottom: 1%;
  }

  .fish-info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .img-description {
    width: 70%;
    min-width: 400px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .fish-img-con {
    max-width: 100%;
    min-width: 300px;
  }

  .fish-img-con img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1em;
  }

  .right-side {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 25%;
    min-width: 200px;
    justify-content: flex-start;
    border: solid;
    border-color: grey;
    border-radius: 2em;
    margin-top: 2%;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .animalType-con {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
  }

  .fish-quantity-con {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
  }

  .fish-size-con {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
  }

  .fish-range-con {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
  }

  .fish-diet-con {
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
  }

  .diet-list {
    margin: 0;
    margin-bottom: 3%;
  }

  .diet-heading {
    margin: 0;
  }

  .fish-description-con {
    margin: 0 2%;
  }


  #edit-link {
    width: 100%;
  }

  #edit-btn {
    background-color: #ebf5fb;
    font-size: 17px;
    padding: 10% 10%;
    border-radius: 10px;
    border-color: gray;
    margin: 2%;
  }

  #form-link {
    width: 100%;
  }

  #delete-btn {
    background-color: #ebf5fb;
    font-size: 17px;
    padding: 10% 10%;
    border-radius: 10px;
    border-color: gray;
    margin: 2%;
  }

  .hamburger-lines {
    padding: 12px;
    display: flex;
    height: 26px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
  }

  .hamburger-lines:hover {
    background-color: lightgrey;
  }

  .line {
    height: 4px;
    width: 30px;
    border-radius: 10px;
    background: grey;
  }

  .drop-menu {
    margin:0;
    display: flex;
    flex-direction: row;
    width: 20%;
    align-self: flex-start;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
  }

  .menu-div {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }


  /* Aquarium New and Edit Form Page */
  .form-wrapper {
    width: 50%;
    min-width: 300px;
    margin: 2em auto;
    background-color: #ebf5fb;
    border: solid grey thin;
    border-radius: 2em;
    padding: 1.5em;
  }

  .form-wrapper h1 {
    text-align: center;
  }

  .form-row-normal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2% 1%;
    align-items: center;
  }

  .form-row-normal h5 {
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    width: 320px;
    text-align: right;
  }

  .form-row-normal input {
    width: 100%;
    height: 20px;
  }

  .fish-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }

  .form-button {
    align-self: center;
    max-width: 33%;
  }
}

  /* Aquarium Map Page */
  #maps-h1 {
    text-align: center;
  }

  .maps-flexbox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }

  .ocean {
    background-color: #ebf5fb;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    margin: 3% 0;
    border: solid grey thin;
    border-radius: 2em;
  }

  .map {
