<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Login</h1>
    <form class="login-form" action="/sessions" method="POST">
      <div class="row">
        <h5>Username:</h5><input type="text" name="username" placeholder="Username" required/>
      </div>
      <div class="row">
        <h5>Password:</h5><input type="password" name="password" placeholder="Password" required/>
      </div>

      <input class='login-submit' type="submit" value="Login"/>
    </form>
  </body>
</html>
