<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>new account page</h1>
    <form class="new-account-form" action="/users" method="POST">
      <div class="row">
        <h5>Username:</h5><input type="text" name="username" required/>
      </div>
      <div class="row">
        <h5>Password:</h5><input type="text" name="password" required/>
      </div>

      <input class='createAccount-submit' type="submit" value="Create Account"/>
    </form>
  </body>
</html>
