<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/aquarium_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/notsignedinheader.ejs') %>
    </header>
    <h1 id="create-h1" >Create Account</h1>
    <div class="create-form-div">
      <form class="new-account-form" action="/users" method="POST">
        <div class="row">
          <label for="username">Username (must be atleast 4 characters):</label></br>
          <input type="text" name="username" placeholder="Username" minlength="4" maxlength="15" unique=true required/>
        </div>
        <div class="row">
          <label for="password">Password (must be atleast 8 characters):</label></br>
          <input type="password" name="password" placeholder="Password" minlength="8" maxlength="16" required/>
        </div>

        <input class='createAccount-submit' type="submit" value="Create Account"/>
      </form>
    </div>
  </body>
</html>
