<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create Account</h1>
    <form class="new-account-form" action="/users" method="POST">
      <div class="row">
        <h5>Username (must be atleast 4 characters):</h5><input type="text" name="username" placeholder="Username" minlength="4"
        maxlength="15" unique=true required/>
      </div>
      <div class="row">
        <h5>Password (must be atleast 8 characters):</h5><input type="password" name="password" placeholder="Password" minlength="8"
        maxlength="16" required/>
      </div>

      <input class='createAccount-submit' type="submit" value="Create Account"/>
    </form>
  </body>
</html>
