<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/animal_head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/animal_header.ejs') %>
    </header>

    <div class='animal-form-Div'>
      <h1>Create New Animal</h1>
      <form class="animal-form" action="/animal" method="POST">
        <div class="form-row">
          <label for="animalName">Name: </label>
          <input type="text" name="animalName" required/>
        </div>
        <div class="form-row">
          <label for="age">Age: </label>
          <input type="text" name="age" required/>
        </div>
        <div class="form-row">
          <label for="species">Species: </label>
          <input type="text" name="species" required/>
        </div>
        <div class="form-row">
          <label for="animalImg">Image: </label>
          <input type="url" name="animalImg"/>
        </div>

        <input class='animal-form-button' type="submit" value="Create Animal"/>
      </form>

    </div>
  </body>
</html>
